@model IEnumerable<MSIT147thGraduationTopic.Models.ViewModels.EvaluationVM>

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "BackStage";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <form method="post" id="SearchForm">
                <div class="row g-3 align-items-center ">
                    <div class="col-auto ms-auto float-end d-flex align-items-center"> 
                        <input name="Keyword" id="txtkeyword" type="text" class="form-control-sm d-flex mx-2 " style="height: 38px;" placeholder="請輸入關鍵字">
                        <img src="~/images/search.jpg" class="rounded-3 d-flex" id="btnKeywordImage" style="cursor: pointer;" />
                    </div>
                </div>
                </form>
            </div>
            <table class="table bg-white mt-3 rounded-3 ">
                <thead>
                    <tr>                        
                        <th>
                            @Html.DisplayNameFor(model => model.OrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MerchandiseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Score) 
                            @*<span id="btnSort" data-sortOrder="asc" style="cursor: pointer;">
                                <img src="~/images/sort.png" style="height:20px;" />
                            </span>*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>
                            刪除                           
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MerchandiseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    <button type="submit" id="btnDelete" class="btn btn-primary btnDelete" data-id="@item.EvaluationId">刪除</button>
                                </td>
                            </tr>
                        }
                    }                  
                </tbody>
            </table>
            <!-- 顯示分頁控制元件 -->
            @if (ViewBag.TotalPage < 1 || ViewBag.Keyword==null)
            {
                <nav></nav>
            }
            else
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo - 1) > 0 ? ViewBag.PageNo - 1 : ViewBag.PageNo, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount  })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>                        
                        @for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                            <li class="page-item @(i == ViewBag.PageNo ? "active" : "")">
                                @*若ViewBag.PageNo為當頁,把active加上*@
                                <a class="page-link pageclick" href="@Url.Action("EBIndex", new { pageNo = i, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })">@i</a>
                            </li>
                        }                        
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo + 1) <= ViewBag.TotalPage ?ViewBag.PageNo + 1:ViewBag.PageNo , keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo - 1) > 0 ? ViewBag.PageNo - 1 : ViewBag.PageNo, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount  })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @if (ViewBag.TotalPage > 7 && ViewBag.PageNo > 4)
                        {
                            <li class="page-item">
                                <a class="page-link pageclick" href="@Url.Action("EBIndex", new { pageNo = 1, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })">1</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        }
                        @for (int i = ViewBag.PageNo - 3; i <= ViewBag.PageNo + 3; i++)
                        {
                            if (i >= 1 && i <= ViewBag.TotalPage)
                            {
                                <li class="page-item @(i == ViewBag.PageNo ? "active" : "")">
                                    <a class="page-link pageclick" href="@Url.Action("EBIndex", new { pageNo = i, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })">@i</a>
                                </li>
                            }
                        }
                        @if (ViewBag.TotalPage > 7 && ViewBag.PageNo < ViewBag.TotalPage - 3)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link pageclick" href="@Url.Action("EBIndex", new { pageNo = ViewBag.TotalPage, keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })">@ViewBag.TotalPage</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo + 1) <= ViewBag.TotalPage ?ViewBag.PageNo + 1:ViewBag.PageNo , keyword = ViewBag.Keyword ,totalCount = ViewBag.TotalCount })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            }            
        </div>
        <div class="col-1"></div>
    </div>
</div>

@section Scripts{
    <script>
        //刪除單筆留言
        $('.btnDelete').click(function () {
            var evaluationId = $(this).attr('data-id');
            //console.log(evaluationId);
            $.post('/EvaluationBackstage/Delete', { id: evaluationId }, function (data) {
                window.location.reload(); //重載畫面
            });
        });

        //關鍵字搜尋
        $("#btnKeywordImage").click(function(){
            var keywordValue = $("#txtkeyword").val();
            //console.log(keywordValue);
            $("#SearchForm").submit();
        })

        //排序        
            //$('#btnSort').click(function () {
            //    var sortOrder = $(this).data('sortOrder') || 'asc';
            //console.log(sortOrder)
            //sortOrder = (sortOrder === 'asc') ? 'desc' : 'asc';
            //$(this).data('sortOrder', sortOrder);                
            //var pageNo = @ViewBag.PageNo;
            //var url = '@Url.Action("EBIndex", new { pageNo = "__pageNo__", sortOrder = "__sortOrder__" })';
            //url = url.replace('__pageNo__', pageNo).replace('__sortOrder__', sortOrder);

            //window.location.href = url; //根據頁碼及排序重載畫面
            //});      

    </script>

}
